<body>
  <header>
    <mat-toolbar color="accent" class="mat-elevation-z6">
      <span>Master Detail List</span>
    </mat-toolbar>
  </header>

  <mat-grid-list cols="2">
    <mat-grid-tile>
      <mat-card>
        <app-project-list (characterClicked)="childCharacterClicked($event)" ></app-project-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <app-project-details [character]="selectedCharacter" ></app-project-details>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</body>
